@tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    :root {
      --background: 298 31% 3%;
      --foreground: 298 15% 98%;
      --muted: 298 12% 6%;
      --muted-foreground: 298 3% 74%;
      --popover: 298 31% 4%;
      --popover-foreground: 298 15% 99%;
      --card: 298 31% 4%;
      --card-foreground: 298 15% 99%;
      --border: 298 10% 11%;
      --input: 298 10% 11%;
      --primary: 298 27% 25%;
      --primary-foreground: 298 27% 85%;
      --secondary: 298 2% 10%;
      --secondary-foreground: 298 2% 70%;
      --accent: 298 2% 10%;
      --accent-foreground: 298 2% 70%;
      --destructive: 16 80% 55%;
      --destructive-foreground: 0 0% 0%;
      --ring: 298 27% 25%;
    }
  }

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }